@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Kanit-Bold.woff2') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CustomFont2';
    src: url('../fonts/Kanit-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    background: radial-gradient(230.05% 167.31% at 98.46% -34.96%, #B200FF 0%, #4300FF 100%);
    height: 100%;
    line-height: 22px;
    font-size: 18px;
    font-family: 'CustomFont';
    font-weight: 600;
    font-style: normal;
    overflow: hidden;
}

/* landing */

.wrapper {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.mask {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: url(../images/bg.webp);
    background-position: top ;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70%;
    height: 100%;
}

.back {
    position: absolute;
    top: 1%;
    left: 14%;
    background: url(../images/treasures.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 75%;
    height: 80%;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 1290px;
    height: 100%;
    padding: 1% 20px 0 20px;
    margin: 0 auto;
}

.lang {
    position: absolute;
    top: 0;
    right: 0;
    padding: 3% 20px 0 0;
    z-index: 3;
    text-transform: uppercase;
}

.change_lang {
    position: relative;
    font-size: 14px;
}
  
.curent {
    display: flex;
    align-items: center;
    cursor: pointer;  
    margin-bottom: 10px;
}
  
.curent p {
    margin-right: 6px;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
}
  
.curent span {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #fff;
}
  
.curent span.active {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: none;
}
  
.lang_list {
    position: absolute;
    background: linear-gradient(to top right, rgba(0, 0, 157, 1), rgba(178, 0, 255, 1));
    padding: 10px 8px;
    border-radius: 8px;
    text-align: center;
    display: none;
}
  
.lang_list.active {
    display: block;
}
  
.lang_list li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
  
.lang_list li:last-child {
    margin-bottom: 0;
}

.logo {
    width: 89px;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text p {
    line-height: 150%;
    color: #fff;
    font-size: 38px;
    text-align: center;
    margin-top: 10%;
}

.text p span {
    background: linear-gradient(264deg, #FFB117 -21.34%, #FF612F 105.63%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wheel_container {
    position: relative;
    width: 70%;
    height: 74%;
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/frame.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 120%;
    height: 120%;
}

.wheel {
    position: absolute;
    top: 50.5%;
    left: 50.5%;
    transform: translate(-50%, -50%);
    background: url(../images/wheel.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 75%;
    height: 75%;
}

.rotating {
    transition: all 4s ease;
}

.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/btn.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 20%;
    height: 20%;
    cursor: pointer;
}

.girl1 {
    position: absolute;
    bottom: 0;
    left: 3%;
    transform: translateY(0);
    background: url(../images/women1.webp);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: contain;
    width: 34%;
    height: 80%;
}

.girl2 {
    position: absolute;
    bottom: 0;
    right: -5%;
    transform: translateY(0);
    background: url(../images/women2.webp);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    width: 40%;
    height: 83%;
}

.smoke {
    position: absolute;
    bottom: 0;
    background: url(../images/smoke.webp);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 30%;
}

.modal {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    opacity: 0;
    transition: 0.5s;
}
  
.modal.active {
    display: flex;
}
  
.modal.opacity {
    opacity: 1;
}
  
.modal_container {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    color: #FFCE06;
    text-align: center;
}

.modal_container p:nth-child(3) {
    font-size: 35px;
}

.modal_container img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_text {
    position: relative;
    z-index: 3;
}
  
.modal_container .center {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-family: 'CustomFont2';
    font-weight: 400;
    margin: 15px 0;
}
  
.modal_container a {
    padding: 14px 80px;
    border-radius: 12px;
    background: var(--3, linear-gradient(253deg, #FB0 0%, #FF612F 99.01%));
    display: block;
    color: #000;
    font-size: 16px;
    margin-top: 40px;
    text-align: center;
    color: #fff;
}

.wrapper.modificate1 .girl1 {
    transform: translateY(14%) translateX(20%);
}

.wrapper.modificate1 .girl2 {
    transform: translateY(14%) translateX(-20%);
}

.wrapper.modificate4 .container {
    padding: 3% 20px 0 20px;
}

.wrapper.modificate4 .girl1 {
    transform: translateY(-20%) translateX(-25%) scale(1.4);
}

.wrapper.modificate4 .girl2 {
    transform: translateY(-20%) translateX(25%) scale(1.4);
}

.wrapper.modificate4 .wheel_container {
    transform: scale(1.15);
}

.wrapper.modificate4 .back {
    position: absolute;
    top: 8%;
    left: 14%;
    background: url(../images/treasures_media.webp);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    width: 75%;
    height: 80%;
    transform: scale(1.3) translateY(15%);
}

.wrapper.modificate4 .mask {
    transform: translateX(-50%) translateY(35%) scale(1.7);
}

.wrapper.modificate4 .text p {
    transform: translateY(50%);
}

@media (max-width: 500px) {
    .wrapper.modificate4 .girl1 {
        transform: translateY(-30%) translateX(-30%) scale(1.6);
    }
    
    .wrapper.modificate4 .girl2 {
        transform: translateY(-30%) translateX(30%) scale(1.6);
    }

    .lang {
        padding: 8% 20px 0 0;
    }
}

@media (max-width: 400px) {
    .text p {
        font-size: 30px;
    }
}